.purches-container {
  margin: 0 2%;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.detail-from {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.detail-from input {
  margin: 15px;
  padding: 10px;
}
.order-card {
  width: 80%;
  font-weight: 500;
}
